.circle {
  display: inline-block;
  position: relative;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    margin: 8px;
    border-radius: 50%;
    animation: circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &.s {
      border-width: 3px;
      border-style: solid;
      border-color: #3155da transparent transparent transparent;
      height: 20px;
      width: 20px;
    }

    &.m {
      border-width: 4px;
      border-style: solid;
      border-color: #3155da transparent transparent transparent;
      height: 32px;
      width: 32px;
    }

    &.l {
      border-width: 5px;
      border-style: solid;
      border-color: #3155da transparent transparent transparent;
      height: 48px;
      width: 48px;
    }

    &.xl {
      border-width: 6px;
      border-style: solid;
      border-color: #3155da transparent transparent transparent;
      height: 64px;
      width: 64px;
    }
  }

  &.s {
    height: 36px;
    width: 36px;
  }

  &.m {
    height: 48px;
    width: 48px;
  }

  &.l {
    height: 64px;
    width: 64px;
  }

  &.xl {
    height: 80px;
    width: 80px;
  }
}

.circle div:nth-child(1) {
  animation-delay: -0.45s;
}

.circle div:nth-child(2) {
  animation-delay: -0.3s;
}

.circle div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dots {
  $animationDuration: 1.4s;
  $delayRange: 0.32s;

  display: flex;
  text-align: center;

  &.m {
    width: 28px;
  }

  &.m {
    width: 38px;
  }

  &.l {
    width: 72px;
  }

  &.xl {
    width: 92px;
  }

  .dotsChild {
    background-color: #3155da;
    border-radius: 100%;
    display: inline-block;
    animation: dots $animationDuration ease-in-out 0s infinite both;

    &.s {
      width: 4px;
      height: 4px;
      margin: 0 1px;
    }

    &.m {
      width: 8px;
      height: 8px;
      margin: 0 2px;
    }

    &.l {
      width: 16px;
      height: 16px;
      margin: 0 2px;
    }

    &.xl {
      width: 24px;
      height: 24px;
      margin: 0 2px;
    }
  }

  .dotsChild:nth-child(1) {
    animation-delay: -$delayRange;
  }

  .dotsChild:nth-child(2) {
    animation-delay: (-$delayRange / 2);
  }
}

@keyframes dots {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
