.drawerCase {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  flex-direction: row;
  display: flex;
  z-index: 999;
}

.drawerOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s all;
  left: 0;
  top: 0;
}

.drawerFixed {
  overflow: hidden;
  background-color: #ffffff;
  z-index: 999;
  position: absolute;
  transition: all 300ms;
  box-shadow:
    0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.drawerStatic {
  overflow: hidden;
}

.left, .right {
  width: 240px;
  height: 100%;
}

.top, .bottom {
  width: 100%;
  height: 240px;
}