{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    ["@vue/app", { "jsx": false }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    ["@babel/plugin-proposal-class-properties", {"loose": true }],
    "@babel/proposal-optional-chaining",
    "@babel/proposal-nullish-coalescing-operator",
    ["prismjs", {
      "languages": ["javascript", "jsx", "css", "markup"],
      "plugins": ["line-numbers"],
      "css": true
    }]
  ]
}
