.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  color: #333;
  padding: 8px 0;
  font-size: 16px;
  transition: 0.3s all;
  width: 100%;
  z-index: 999;

  &:hover {
    border-bottom: 1px solid #464a69;
  }
}

.outline {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #333;

  &:focus {
    border: 1px solid #3155da;
  }
}

.label {
  position: absolute;
  left: 0;
  transition: 0.3s all;
  color: #a9aab5;
}

.focusLabel {
  transform: translateY(-20px);
  font-size: 10px;
}

.inputCase {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3155da;
    bottom: 0;
    z-index: 999;
    transition: 0.3s all;
  }
}

.focus {
  &::after {
    width: 100%;
  }
}
