.loftRating {
  display: flex;
  margin: 0 -2px;
  align-self: flex-start;
  width: max-content;
}

.loftRatingItem {
  width: 16px;
  height: 16px;
  background-image: url('./img/star.svg');
  background-size: cover;
  margin: 0 2px;
  cursor: pointer;
}

.loftRatingItemLastHover {
  transform: scale(1.3);
}

.loftRatingItemActive {
  background-image: url('./img/star_active.svg');
}

.loftRatingItemHover {
  background-image: url('./img/star_hover.svg');
}
