.content {
  transition: 0.3s all;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: #333333;
  color: #ffffff;
  border-radius: 6px;
  z-index: 9999;
  opacity: 0;
  padding: 8px 16px;
}
