.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbsTitle {
  font-size: 14px;
  color: #3b526d;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #3b526d;
    left: 0;
    bottom: 0;
  }
}

.breadcrumbsTitleActive {
  color: #7694b9;

  &::after {
    display: none;
  }
}
